.main-card-first {
  background-color: #c8facd;
  width: 240px;
  height: 240px;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  justify-content: center;
}
.main-card-second {
  background-color: #d0f2ff;
  width: 240px;
  height: 240px;
  border-radius: 30px;
  text-align: center;
}
.main-card-third {
  background-color: #fff7cd;
  width: 240px;
  height: 240px;
  border-radius: 30px;
  text-align: center;
}
.main-card-fourth {
  background-color: #ffe7d9;
  width: 240px;
  height: 240px;
  border-radius: 30px;
  text-align: center;
}
