.kiosk-title {
  padding: 0;
}
.kiosk-title a {
  display: inline-block;
  font-size: 20px;
  padding: 10px 20px 0 20px;
}
.kiosk-weather {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px;
}
li {
  margin: 0 20px 0 20px;
  font-size: 20px;
}
.weather {
  font-size: large;
}
img {
  width: 30px;
  height: 30px;
}
.low {
  color: #32a1ff;
}
.high {
  color: #fc4c4e;
}
