@import "~antd/dist/antd.css";

.kiosk-page {
  margin: 0 auto;
  padding: 1vh;
  text-align: center;
  background: #ececec;
  height: auto;
  overflow: none;
}

.firstPoint {
  padding: 3vh 1vh 3vh 1vh;
  height: 45vh;
}
.secondPoint {
  padding: 3vh 1vh 3vh 1vh;
  height: 30vh;
}
.thirdPoint {
  padding: 3vh 1vh 3vh 1vh;
  height: 30vh;
}
.fourthPoint {
  padding: 3vh 1vh 3vh 1vh;
  height: 30vh;
}
.firstPoint img {
  height: 35vh;
}
.secondPoint img,
.thirdPoint img,
.fourthPoint img {
  height: 20vh;
}

.firstPoint li {
  font-size: 1.5vh;
}
.secondPoint li,
.thirdPoint li,
.fourthPoint li {
  font-size: 1vh;
}

.right-info {
  box-shadow: 5px 5px 5px 5px gray;
  text-align: center;
  padding-top: 3vh;
  vertical-align: middle;
  height: 40vh;
  padding: 0;
}

.right-info > ul {
  margin: 0 auto;
  padding: 0;
  height: 40vh;
  line-height: 6vh;
}

.right-info li {
  font-size: 2vh;
  padding: 3vh 1vh 3vh 1vh;
}

.kiosk-page h1 {
  text-align: center;
  font-size: 3vh;
}
.kiosk-page h2 {
  font-size: 2vh;
}

.kiosk-low {
  color: blue;
}
.kiosk-safe {
  color: green;
}
.kiosk-waring {
  color: red;
}

.water-card,
.pre-card,
.temp-card,
.hum-card {
  min-height: 80vh;
}
.ant-card-body {
  align-items: center;
  margin: 0;
}
