@import '~antd/dist/antd.css';

.kiosk-page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5vh 0 0 0;
  text-align: center;
  background: whitesmoke;
  height: auto;
  position: fixed;
  overflow: hidden;
  scrollbar-width: none;
}

.firstPoint {
  width: 100%;
  height: 100%;
  /* padding: 3vh 1vh 3vh 1vh; */
}
.secondPoint {
  width: 100%;
  height: 100%;
}
.thirdPoint {
  width: 100%;
  height: 100%;
}
.fourthPoint {
  width: 100%;
  height: 100%;
}
.gauge {
  margin-top: 30px;
}

.gauge img {
  width: 10vh;
}

.kiosk-page h1 {
  text-align: center;
  font-size: 3vh;
  padding: 0;
  margin: 2vh 0 2vh 0;
}
.kiosk-page h2 {
  font-size: 2vh;
}

.kiosk-low {
  color: #2f88ff;
}
.kiosk-safe {
  color: #ffdd15;
}
.kiosk-waring {
  color: #ff0202;
}

.water-card,
.pre-card,
.temp-card,
.hum-card {
  min-height: 80vh;
}
.ant-card-body {
  align-items: center;
  margin: 0;
}
