@import '~antd/dist/antd.css';

.kiosk-page {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background: #ececec;
  height: auto;
  overflow: none;
}

.firstPoint {
  padding: 30px 10px 30px 10px;
}
.secondPoint {
  padding: 30px 10px 30px 10px;
}
.thirdPoint {
  padding: 30px 10px 30px 10px;
}
.fourthPoint {
  padding: 30px 10px 30px 10px;
}

.kiosk-low {
  color: blue;
}
.kiosk-safe {
  color: green;
}
.kiosk-waring {
  color: red;
}

.water-card,
.pre-card,
.temp-card,
.hum-card {
  min-height: 237px;
}
.ant-card-body {
  align-items: center;
  margin: 0;
}
