.kiosk2-nav {
  width: 90%;
  margin: 0 auto;
  margin-top: 3vh;
  height: 5vh;
  padding: 0;
  overflow-y: auto;
}

.kiosk2-today {
  float: left;
  width: 70px;
  box-sizing: border-box;
}
.kiosk2-title {
  text-align: center;
  float: left;
  font-size: 15px;
  /* margin-top: 10px; */
  margin-left: 1%;
  width: 200px;
  box-sizing: border-box;
}
.kiosk2-weather {
  /* font-size: 1vh; */
  float: right;
  width: 40%;
  box-sizing: border-box;
}
.kiosk2-weather li {
  display: inline;
  padding-right: 20px;
}

.low {
  color: #32a1ff;
}
.high {
  color: #fc4c4e;
}
