@import '~antd/dist/antd.css';

.menu {
  padding: 10px 20px 20px;
  border-bottom: solid 1px #e8e8e8;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
  text-align: center;
  overflow: hidden;
}
.menu img {
  width: 60px;
  height: 60px;
  float: left;
}

.menu-title {
  padding: 0;
}

.menu-title a {
  display: inline-block;
  font-size: 20px;
  padding: 10px 20px 0 20px;
}

.menu__container .ant-menu-item {
  width: 20vh;
  padding: 0px 5px;
}

.ant-menu-item a,
.ant-menu-submenu {
  font-size: 17px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
  line-height: 0;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_right {
  float: right;
}
