@import '~antd/dist/antd.css';

.daily-page {
  width: 90%;
  justify-content: center;
  /* display: flex; */
  text-align: center;
  margin: 0 auto;
  padding: 10vh;
}
.search-page {
  width: 90%;
  justify-content: center;
  /* display: flex; */
  text-align: center;
  margin: 0 auto;
  padding-top: 10vh;
}

.statistics-page {
  width: 95%;
  justify-content: center;
  /* display: flex; */
  text-align: center;
  margin: 0 auto;
  padding-top: 10vh;
}

.setting {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  /* margin: 0 auto; */
}
