.set-container {
  height: 100%;
  width: 100%;
  padding: 80px 0px 0px 200px;
}

.set-content {
  margin-bottom: 50px;
  font-size: 1vw;
}

.set-con-btn {
  padding: 30px;
  width: 100%;
  height: 100%;
}

.danger-set_btn {
  width: 300px;
  height: 500px;
}

.password-set_btn {
  width: 300px;
  height: 500px;
}

.danger-set-btn {
  float: left;
}
.password-btn {
  float: left;
}

.set-left-btn {
  width: 250px;
  height: 300px;
}

.set-right-btn {
  width: 250px;
  height: 300px;
}

.btn-text {
  width: 290px;
  height: 174px;
  background-color: whitesmoke;
  border-radius: 12px;
  border: 0;
  outline: 0;
}

.breadcrumb-font-size {
  font-size: 1vw;
}

.btn-box {
  text-align: center;
}

.btn-box__set-btn {
  width: 12vw;
  height: 35vh;
  padding: 3vh;
  margin: 1vw;
}

.btn-box__set-btn__set-btn {
  margin: 1vw;
}

.btn-box__set-btn__text-box {
  height: 3vh;
  margin: 0 0 3vh 0;
}

.btn-box__set-btn__img-box {
  height: 8vh;
  margin: 0 0 5vh 0;
}

.img-size {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
