.level-setting {
  text-align: center;
  margin-top: 50px;
  min-width: 1000px;
}
.pwd-setting {
  text-align: center;
  margin-top: 50px;
  width: 500px;
}
.first-pwd,
.second-pwd,
.third-pwd {
  margin-top: 10px;
}
.pwd-btn {
  margin: 10px;
}

ul {
  list-style: none;
}

.warning-form {
  padding-top: 70px;
  min-width: 1400px;
}

.card_input Input {
  border-radius: 15px;
  background-color: 'red';
  width: 230px;
}
.card_input_tag {
  margin-top: 20px;
}
span {
  font-size: 20px;
}
