.swing {
  animation: swing2 ease-in-out 3s infinite alternate;
  transform-origin: center -20px;
  float: left;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
  display: block;
}
.swing:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
/* nail */
.swing:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: -14px;
  left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
}

@keyframes swing2 {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
